

/* ******************************************************************************************************** */ 
/* **                                                                                                    ** */ 
/* **	Gestion des cadres flottants                                                                     ** */ 
/* **                                                                                                    ** */ 
/* ******************************************************************************************************** */ 
/* FLOAT positioning */
.fLeft  { float: left  !important; }
.fRight { float: right !important; }
.fNone  { float: none  !important; }

/* ******************************************************************************************************** */ 
/* **                                                                                                    ** */ 
/* **	Gestion des encadrements                                                                         ** */ 
/* **                                                                                                    ** */ 
/* ******************************************************************************************************** */ 

/* ******************************************************************************************************** */ 
/* the "framed"	                                                                                         ** */
/* ******************************************************************************************************** */ 
.minecraft .framed, .minecraft .noFramed {
	margin:            	10px !important;
	padding:           	0 !important;
	overflow:          	hidden;
}

.minecraft .framed {
	border:            	#777777 1px solid;

        border-radius: 	5px;
   -moz-border-radius: 	5px;
-webkit-border-radius: 	5px;

           box-shadow: 	0 0 5px rgba(0,0,0,0.25);
      -moz-box-shadow: 	0 0 5px rgba(0,0,0,0.25);
   -webkit-box-shadow: 	0 0 5px rgba(0,0,0,0.25);

    background:        	none;
}

.minecraft .noTitle { background: none !important; }

.minecraft .floating {
	display: 			inline-block !important;
	padding: 			0;
	margin: 			0 !important;
	width: 				44% !important;
	border:				none /*lightGray 1px solid*/;
/*	 	 width: auto; */
}
.minecraft .txtRight {
	padding: 			5px;
	text-align: 		right !important;
}

.minecraft .txtLeft {
	padding: 			5px;
	text-align: 		left !important;
}

.minecraft .txtCenter {
	padding: 			5px;
	text-align: 		center !important;
}

.minecraft .invisible {
	visibility: 		hidden !important;
}


/* ******************************************************************************************************** */ 
/* **                                                                                                    ** */ 
/* **	Gestion des classes de Titre                                                                     ** */ 
/* **                                                                                                    ** */ 
/* ******************************************************************************************************** */ 

/* ******************************************************************************************************** */ 
/* **	Definition de la police de caractï¿½re (font property)                                               ** */ 
/* ******************************************************************************************************** */ 
.minecraft h1, .minecraft h2, .minecraft h3, .minecraft h4, .minecraft h5, .minecraft h6 {
	font-family:       	"Bw Quinta Pro Black", "Arial", sans-serif;
	font-weight:       	normal;
	font-style:        	normal;
}

/* ******************************************************************************************************** */ 
/* **	Alignement et style (text property)	                                                             ** */ 
/* ******************************************************************************************************** */ 
.minecraft h1, .minecraft h3, .minecraft h5 {
	text-align:        	Left;
	text-transform:    	none;
	text-decoration:   	none;

	/*color:             	#9e958d;*/
	background: 		linear-gradient(to left, #cc5254, #792b56);
	background-clip: 	text;

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.minecraft h2, .minecraft h4, .minecraft h6 {
	text-align:        	Left;
	text-transform:    	none;
	text-decoration:   	none;

	/*color:             	#00609c;*/
	background: 		linear-gradient(to left, #91c9f1, #4577ba);
	background-clip: 	text;

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

/* ******************************************************************************************************** */ 
/* **	Text shadow				                                                                         ** */ 
/* ******************************************************************************************************** */ 
.minecraft h1 { text-shadow: 3px 3px 9px rgba(102,102,102,0.25) !important; }
.minecraft h2 { text-shadow: 2px 2px 5px rgba(  0,  0,  0,0.15) !important; }
.minecraft h3 { text-shadow: 1px 1px 3px rgba(102,102,102,0.25) !important; }
.minecraft h4 { text-shadow: 1px 1px 2px rgba(  0,  0,  0,0.15) !important; }
.minecraft h5 { text-shadow: 1px 1px 1px rgba(102,102,102,0.25) !important; }
.minecraft h6 { text-shadow: 1px 1px 1px rgba(  0,  0,  0,0.15) !important; }

/* ******************************************************************************************************** */ 
/* **	Dimension (Size)                                                                                 ** */ 
/* ******************************************************************************************************** */ 
.minecraft h1 { font-size: 36px; line-height: normal !important; margin: auto 10px           !important; padding: 0 !important; }
.minecraft h2 { font-size: 24px; line-height: 24px   !important; margin: 35px 10px 10px 10px !important; }
.minecraft h3 { font-size: 18px; line-height: 18px   !important; margin: 25px 10px 10px 10px !important; }
.minecraft h4 { font-size: 16px; line-height: 16px   !important; margin: 15px 10px 10px 10px !important; }
.minecraft h5 { font-size: 14px; line-height: 14px   !important; margin: 10px 10px 10px 10px !important; }
.minecraft h6 { font-size: 14px; line-height: 14px   !important; margin:  8px 10px 10px 10px !important; }


/* ******************************************************************************************************** */ 
/* **                                                                                                    ** */ 
/* **	generic Classes                                                                                  ** */ 
/* **                                                                                                    ** */ 
/* ******************************************************************************************************** */ 

.minecraft, .minecraft .normal { 
	font-size:         14px;
	font-weight:       normal;
	
	line-height:       normal;
	
	text-align:        justify; 
	text-transform:    none; 
	text-decoration:   none; 
}

.minecraft .header {
	padding:           5px 0 0 0;
}

.minecraft .leftArea {
	float:             left;
	margin:            10px !important;
	border-top:        #ccc 1px solid;
	border-right:      #ccc 1px solid;
}

.minecraft .mainArea {
	float:             left;
	margin:            10px !important;
	width:             auto !important;
}

.minecraft .rightArea {
	float:             left;
	margin:            10px !important;
	/*width:             45% !important;*/
	border-top:        #ccc 1px solid;
}

.minecraft .example {
	color:             #666;
	font-family:       sans-serif;
	font-style:        italic;
	text-align:        left;
	margin:            0 0 3px 50px !important;
}

.minecraft .image {
	float:             none;
	margin:            5px         !important;
	text-align:        center;
}

.minecraft .button {
	margin:            20px auto;
	text-align:        center;
}



/* ******************************************************************************************************** */ 
/* **                                                                                                    ** */ 
/* ** Alignement's Classes                                                                               ** */ 
/* **                                                                                                    ** */ 
/* ******************************************************************************************************** */ 

.minecraft .middle {
	vertical-align:    middle       !important;
}

.minecraft .top {
	vertical-align:    text-top     !important;
}

.minecraft .bot {
	vertical-align:    text-bottom  !important;
}

.minecraft .center {
	text-align:        center       !important;
}


/* ******************************************************************************************************** */ 
/* **                                                                                                    ** */ 
/* ** Color's Classes                                                                                    ** */ 
/* **                                                                                                    ** */ 
/* ******************************************************************************************************** */ 
.minecraft .gray {
	color:				#aaa;
}

.minecraft .darkGray {
	color:				#888;
}

.minecraft .anthracit {
	color:				#555;
}

.minecraft .red {
	color:				red;
}

.minecraft .darkRed {
	color:				darkRed;
}


