div#manualSwitch {
	border:				2px #555 solid;
	border-radius: 		10px;
	
	width:				auto !important;
	height: 			auto !important;
	font-size: 			8px;
	padding: 			5px 20px;
	
	position: 			absolute;
	top:				50%;
	left: 				50px;
	
	background: 		-webkit-linear-gradient(#555 0%, #1e1e1e 100%);
	background: 		-moz-linear-gradient(#555 0%, #1e1e1e 100%);
	background: 		-o-linear-gradient(#555 0%, #1e1e1e 100%);
	background: 		-ms-linear-gradient(#555 0%, #1e1e1e 100%);
	background: 		linear-gradient(#555 0%, #1e1e1e 100%);
/*
	background: 		-webkit-linear-gradient(#ddd 0%, #fff 100%);
	background: 		-moz-linear-gradient(#ddd 0%, #fff 100%);
	background: 		-o-linear-gradient(#ddd 0%, #fff 100%);
	background: 		-ms-linear-gradient(#ccc 0%, #fff 100%);
	background: 		linear-gradient(#ddd 0%, #fff 100%);
*/
    box-shadow: 		0 0 50px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.35);
    -moz-box-shadow: 	0 0 50px rgba(0,0,0,0.35);
	
	display: 			flex;
	flex-flow: 			row nowrap;
	align-content: 		center;
	align-items: 		center;
}